.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 0;
}

.options-text {
    font-size: 14px;
    margin: 10px 0;
}

.social-section {
    display: flex;
}

.social-button {
    border: 1px solid black;
}