.social-button {
    border-radius: 50px;
    margin: 10px;
    width: 60px;
    height: 40px;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 0;
    /* display: flex;
    flex-direction: column; */
}


.fab {
    font-size: 38px;
    margin: 0;
    padding: 0;
}